:root {
}

/* global reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  position: absolute;
  z-index: -10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
