:root {
  --primary-red: hsl(7, 99%, 70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-cyan: hsl(167, 40%, 24%);
  --primary-blue: hsl(198, 62%, 26%);
  --primary-cyan-dark: hsl(168, 34%, 41%);

  --neutral-darkest: hsl(212, 27%, 19%);
  --neutral-darker: hsl(213, 9%, 39%);
  --neutral-dark: hsl(232, 10%, 55%);
  --neutral-light: hsl(210, 4%, 67%);
  --neutral-lightest: hsl(0, 0%, 100%);
  --neutral-lightest--opaque: hsla(0, 0%, 100%, 0.35);

  --heading-font: "Fraunces";
  --base-font: "Barlow";

  --lg-box: 80vh;
  --box-height: 50vh;
  --box-height--lg: 75vh;
}

/* global reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--base-font);
  font-weight: 600;
}

/* sr only footer section */
.attribution {
  position: absolute;
  z-index: -10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* header section -- mobile first */
header {
  height: var(--lg-box);
  background-image: url(images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 1.5rem;
}

.heading {
  font-family: var(--heading-font);
}

.heading--main {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-align: center;
  color: var(--neutral-lightest);
}

.heading--arrow {
  max-height: 5rem;
}

/* nav  */
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#hamburger-btn {
  display: none;
}

.hamburger-btn--toggler {
  z-index: 5;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.25s ease;
}

.hamburger-btn--toggler:hover {
  opacity: 1;
}

.nav-list-container {
  position: absolute;
  height: var(--box-height);
  background-color: var(--neutral-lightest);
  width: 100%;
  max-width: 25rem;
  top: 5rem;
  right: 0;
  transform-origin: right;
  transform: translateY(-200%) scale(0);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding: 2rem;
  filter: drop-shadow(0 1px 1rem rgba(0, 0, 0, 0.125));
}

.nav-list-container::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  height: 2.25rem;
  width: 2rem;
  transform: translateY(-100%);
  background-color: var(--neutral-lightest);
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

#hamburger-btn:checked + .nav-list-container {
  transform: translateY(0%) scale(1);
}
.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.nav-list__item {
  color: var(--neutral-dark);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.nav-list__item--main {
  font-family: var(--heading-font);
  text-transform: uppercase;
  color: var(--neutral-darkest);
  font-size: 0.8rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  background-color: var(--primary-yellow);
  transform-origin: center;
}

.nav-list__item:hover:not(.nav-list__item--main) {
  color: var(--neutral-darkest);
}

.nav-list__item--main:hover {
  transform: scale(1.05);
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
  filter: drop-shadow(0 1px 0.5rem var(--neutral-light));
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

/* main content */

.content {
  display: flex;
  flex-direction: column;
  height: calc(2 * var(--box-height));
  width: 100%;
}

/* content image */
.content img {
  display: block;
  object-fit: cover;
  height: var(--box-height);
  width: 100%;
}

.content-container {
  height: var(--box-height);
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container > * {
  max-width: 25rem;
}

.content__heading--sub,
.content__heading {
  width: 75%;
  font-weight: 900;
  font-family: var(--heading-font);
  color: var(--neutral-darkest);
  text-align: center;
  font-size: 1.5rem;
}

.content__text--sub,
.content__text {
  margin: 2rem 1rem 3rem 1rem;
  font-size: 0.9rem;
  color: var(--neutral-dark);
  text-align: center;
}

.content__link {
  font-weight: 900;
  text-decoration: none;
  color: var(--neutral-darkest);
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 0.75rem;
  position: relative;
  padding: 0 0.25rem;
}
.content__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5px;
  height: 0.5rem;
  z-index: -1;
  border-radius: 5rem;
  opacity: 0.25;
  transition: all 0.3s linear;
}
.content__link:hover::after {
  opacity: 0.75;
}

.content__link--yellow:after {
  background-color: var(--primary-yellow);
}

.content__link--pink:after {
  background-color: var(--primary-red);
}

.img-box {
  width: 100%;
  height: calc(1.15 * var(--lg-box));
  position: relative;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 3.5rem;
}

.img-box-content {
  max-width: 20rem;
  height: 25%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box--1 {
  background-image: url("./images/mobile/image-graphic-design.jpg");
}
.box--2 {
  background-image: url("./images/mobile/image-photography.jpg");
}

.content__text--sub {
  font-size: 0.9rem;
}

.box--1 .content__heading--sub,
.box--1 .content__text--sub {
  color: var(--primary-cyan);
}

.box--2 .content__heading--sub,
.box--2 .content__text--sub {
  color: var(--primary-blue);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

/* testimonial */
.testimonial-wrapper {
  padding: 3rem;
  display: grid;
  place-items: center;
  min-height: calc(2 * var(--box-height));
  height: 100%;
}

.testimonial__heading {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-align: center;
  color: var(--neutral-light);
}

.testimonial-container {
  margin: 3rem auto;
  gap: 3rem;
  max-width: 80rem;
}

.testimonial {
  padding: 1rem;
  display: flex;
  max-width: 25rem;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial__img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
}

.testimonial__content {
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem auto;
  width: 80%;
  color: var(--neutral-dark);
}

.testimonial__user {
  font-size: 1rem;
  font-weight: 900;
  font-family: var(--heading-font);
  color: var(--neutral-darkest);
}

.testimonial__bio {
  font-size: 0.65rem;
  margin-top: 0.5rem;
  color: var(--neutral-light);
}

/* footer content */
footer.footer {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: var(--primary-cyan-dark);
  padding-bottom: 4rem;
}

.decoration-img-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.decoration-img-list img {
  display: block;
  height: 12rem;
  object-fit: cover;
  width: 100%;
}

.footer-logo {
  fill: var(--primary-cyan);
}

.footer-content {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.footer-list > li {
  color: var(--primary-cyan);
  font-size: 0.8rem;
  transition: all 0.25s linear;
  cursor: pointer;
}

.footer-list > li:hover {
  color: var(--neutral-lightest);
}

.footer-list,
.social-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
}

.social-icon {
  height: 1rem;
  width: 1rem;
  fill: var(--primary-cyan);
  transition: all 0.5s ease;
}

.social-icon:hover {
  fill: var(--neutral-lightest);
  transform: translateY(-1px) scale(1.15);
}

/*
MEDIA Queries
*/

@media screen and (min-width: 640px) {
  header {
    height: var(--lg-box);
    background-image: url("./images/desktop/image-header.jpg");
  }
  .header-content {
    height: 80%;
  }
  .heading--main {
    font-size: 2.75rem;
  }
  .heading--arrow {
    height: 3rem;
  }
  .decoration-img-list img {
    height: 15rem;
  }
  .box--1 {
    background-image: url("./images/desktop/image-graphic-design.jpg");
  }
  .box--2 {
    background-image: url("./images/desktop/image-photography.jpg");
  }
}
@media screen and (min-width: 768px) {
  .nav-list-container::after,
  .hamburger-btn--toggler,
  .hamburger-btn--toggler:hover {
    display: none;
  }

  .nav-list-container {
    position: static;
    height: auto;
    background-color: transparent;
    width: 100%;
    max-width: none;
    top: 0;
    transform: translateY(0%);
    transition: none;
    padding: 0;
    filter: none;
  }
  .nav-list {
    height: auto;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
  .nav-list__item {
    color: var(--neutral-lightest);
    font-size: 0.9rem;
  }

  .nav-list__item--main {
    color: var(--neutral-darkest);
    font-size: 0.65rem;
    padding: 0.75rem 1.25rem;
    background-color: var(--neutral-lightest);
  }
  .nav-list__item--main:hover {
    color: var(--neutral-lightest);
    background-color: var(--neutral-lightest--opaque);
  }

  .nav-list__item:hover:not(.nav-list__item--main) {
    color: var(--neutral-darkest);
  }
  .content-container {
    margin: auto auto;
  }
  .content {
    flex-direction: row;
    width: 100%;
    height: var(--box-height);
  }
  .content--reverse {
    flex-direction: row-reverse;
    width: 100%;
  }

  .content > * {
    flex: 1 0 50%;
  }

  .img-box {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .content-container {
    align-items: flex-start;
  }

  .content__heading,
  .content__text {
    text-align: left;
  }

  .img-box,
  .content-container,
  .content img,
  .content {
    height: var(--lg-box);
  }

  .content__text {
    margin: 2rem 2rem 3rem 0;
    font-size: 0.9rem;
  }

  .grid--lg-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--lg-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .testimonial-container {
    margin: 5rem auto;
    gap: 1rem;
  }
  .testimonial__content {
    width: 100%;
    max-width: 18rem;
  }
  .testimonial__heading {
    font-size: 1.5rem;
  }

  .decoration-img-list img {
    height: 20rem;
  }

  .decoration-img-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .content-container {
    margin: auto auto;
    padding: 0 9rem;
  }
  .content__text {
    max-width: 25rem;
  }
  .content-container,
  .content img,
  .content {
    height: var(--box-height--lg);
  }
  .img-box {
    height: calc(1.25 * var(--box-height--lg));
  }

  .img-box-content {
    max-width: 30rem;
  }

  .testimonial__img {
    height: 6rem;
    width: 6rem;
  }

  .content__heading--sub,
  .content__heading {
    font-size: 2rem;
  }
  .content__text--sub,
  .content__text {
    font-size: 1.1rem;
  }

  .content__link {
    font-size: 1rem;
  }

  .decoration-img-list img {
    height: var(--box-height--lg);
  }
}
